<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
	<Section Name="Secrets">
		<Parameter Name="JwtKey" Value="yNjCVMu2/HARfwdvdCkgQcG8D2IECAVPnIATGSR8YQcI5t0f3qNRhl2cFZqA+BwB"/>
	</Section>
</Settings>
